<h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
<%= @properties.count %> properties are available!
</h1>

<div class="grid grid-cols-3">
  <% @properties.each do |property| %>
    <div class="col-span-1 my-10">
      <%= render property %>
    </div>
  <% end %>
</div>
