
<div class="p-5">
  <div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @property.name %></h5>
    <%= image_tag(@property.cover_photo, class: "rounded-t-lg") unless @property.cover_photo.nil? %>

    <% @property.photos.each_with_index do |photo, index| %>
      <%= image_tag(photo, class: "rounded-t-lg") unless index == 2 %>
    <% end %>
  </div>
</div>
